body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    box-shadow: 0px 0px 50px rgb(41 43 51 / 10%);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.nav {
    max-width: 80%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form {
    margin: 0 0 30px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.gallery-list a {
    outline: 0;
}

.gallery-list img {
    transition: transform 200ms ease-in;
}

.gallery-list img:hover,
.gallery-list a:focus img {
    transform: scale(1.1);
}

.footer {
    background-color: lightslategrey;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 80px;
    color: white;
}